td#first{
  width: 1300px; /*Ancho de "carpoolcr.com" y ubica foto al final*/
  color: rgb(13, 176, 43); /*Color de "carpoolcr.com"*/
}

label#user{
  color: orange; /*Color de nombre de usuario*/
}

#profile{
  margin-left: -30px;
  width: 60px;
  height: 60px;
}

header{
  background: rgb(13, 176, 43);
}

header figure{
  display: inline-block;
  width: 500px; /*Ancho de la figura*/
}

header figure img{ /*Propiedades de tamaño de la imagen*/
  width: 200px;
  height: 150px;
}

header p{
  position: absolute;
  display: inline-block;
  color: white;
  font-size: 60px;
}

section#big{
  height: 400px;
}

div#menu{
  width: 300px;
  margin-top: 50px;
  display: inline-block;
}

ul#noList{
  list-style: none;
}

li.li{
  width: 200px;
  text-align: left;
  font-size: 1.5em;
  padding: 10px;
}

img.icon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

div#information{
  position: absolute;
  display: inline-block;
  margin-left: 130px;
  margin-top: 50px;
}

fieldset{
  width: 800px;
  text-align: center;
}

legend{
  text-align: left;
}

table#boxRides{
  width: 800px;
  border-collapse: collapse;
}

table#boxRides th{
  padding: 20px;
}

table#boxRides td{
  padding: 10px;
}

#tableTr{
color: white;
background: rgb(13, 176, 43);
}

table tr.td1{
background-color: #E8E5E5;
}

#btnPlus{
  float: right;
}

#plus{
  width: 50px;
  height: 50px;
}

footer{
  text-align: center;
}

div ul li:hover{
  font-size: 30px;
}

/************************************************************************************************************PUBLIC ACCESS*/

section#matches{
  position: relative;
}

div.match{
  margin-left: 24%;
  margin-top: 40px;
}

input{
  margin-top: 10px;
  margin-bottom: 10px;
}

input#btnFind{
  float: right;
}

/*********************************************************************************************************INDEX*/

form#auth{
  text-align: center;
  margin-top: 40px;
}
