body{
  border: 1px solid yellow;
}
#map-canvas {
   width: 500px;
   height: 250px;
   float: right;
   margin-top: -238px;
}

header{
  border: 1px solid green;
}

header figure{
  border: 1px solid black;
  width: 200px;
}

header figure img{
  width: 200px;
  height: 200px;
}


header p{
  margin-top: -200px;
  float: right;
}

.pruebaAside{
  list-style: none;
  width: 200px;
  display: inline-block;
}

li.ancho{
  width: 200px;
  text-align: left;
}

img.icon{
  width: 20px;
  height: 20px;
  margin-right  : 10px;
}

table{
  border: 1px solid red;
}

div#pruebaParag{
  width: 800px;
  height: 300px;
  float: right;
  margin-right: 200px;
}

div ul li{
    font-size: 1.5em;
    border-radius:5px;
    border-bottom: 1px solid #888;
    padding: 10px;
    text-align:center;
}

div a{
  text-decoration: none;
  color: white;
}

div table td a{
  color: orange;
}

div ul li:hover{
  font-size: 30px;
}


#botonSelec{
  background: rgb(13, 176, 43);
  font-size: 1.5em;
  border-radius:5px;
  border-bottom: 1px solid #888;
  padding: 10px;
  text-align:center;
}

div#containerTop{
  height: 80px;
  background: rgb(85, 85, 85);
  margin-top: -10px;
}

h1#hcarpool{
    font-size: 40px;
    color: white;
    margin-left: 50px;
}

#tableTr{
color: white;
background: rgb(13, 176, 43);
}

.td1{
background-color: #E8E5E5;
}

#dash{
  width: 1300px;
}

#perfil{
  margin-left: -30px;
  width: 60px;
  height: 60px;
}

fieldset{
  width: 400px;
  text-align: center;
}

legend{
  text-align: left;
}

table.box{
  width: 600px;
  border-collapse: collapse;
}

table.box th{
  padding: 20px;
}

table.box td{
  padding: 10px;
}

#btnPlus{
  float: right;
}

#plus{
  width: 50px;
  height: 50px;
}

footer{
  text-align: center;
  background: rgb(85, 85, 85);
  color: white;
}
