body{
  background-color: white;
}

div.containerTop{
  font-size: 34px;
  color: rgb(85, 85, 85);

}

header{
  background: rgb(13, 176, 43);
  margin-top: 10px;
}

header figure{
  width: 300px;
}

header img{
  width: 300px;
  height: 300px;
}

header strong{
  margin-top: -170px;
  margin-right: 180px;
  color: white;
  font-size: 32px;
  float: right;
}

nav{
  border-radius: 10px;
  padding: 10px;
  width: 950px;
}

nav ul{
    list-style:none;
}

nav ul li{
    background: rgb(85, 85, 85);
    font-size: 1.5em;
    border-radius:5px;
    border-bottom: 1px solid #888;
    padding: 10px;
    text-align:center;
}

nav a{
  text-decoration: none;
  color: white;
}

nav li{
  width: 100px;
  text-align: center;
  display: table-cell;
}


nav ul li:hover{
  background: rgb(13, 176, 43);
}

#tableTr{
color: white;
background: rgb(13, 176, 43);
}

.td1{
background-color: #E8E5E5;
}

div table td{
  align-content: center;
}

#dash{
  width: 1300px;
}
a{
  text-decoration: none;
  color: orange;
}

#perfil{
  margin-left: -30px;
  width: 60px;
  height: 60px;
}

fieldset{
  width: 800px;
  text-align: center;
  margin-right: -100px;
}

table.box{
  width: 1000px;
}

table.box th{
  padding: 20px;
}

table.box td{
  padding: 15px;
}

#btnPlus{
  float: right;
}

#plus{
  width: 50px;
  height: 50px;
}

footer{
  text-align: center;
  background: rgb(85, 85, 85);
  color: white;
}
