td#first{
  width: 1300px; /*Ancho de "carpoolcr.com" y ubica foto al final*/
  color: rgb(13, 176, 43); /*Color de "carpoolcr.com"*/
}

label#user{
  color: orange; /*Color de nombre de usuario*/
}

#profile{
  margin-left: -30px;
  width: 60px;
  height: 60px;
}

header{
  background: #0DB02B;
}

header figure{
  display: inline-block;
  width: 500px; /*Ancho de la figura*/
}

header figure img{ /*Propiedades de tamaño de la imagen*/
  width: 200px;
  height: 150px;
}

header p{
  position: absolute;
  display: inline-block;
  color: white;
  font-size: 60px;
}

div#contact{
  position: absolute;
  right: 50px;
  top: 120px;
}

section#big{
  height: 400px;
}

div#menu{
  width: 300px;
  margin-top: 50px;
  display: inline-block;
}

ul#noList{
  list-style: none;
}

li#select{
  width: 160px;
  font-size: 30px;
  text-align: left;
  border-bottom: 6px solid rgb(13, 176, 43);
}

li.li{
  width: 200px;
  text-align: left;
  font-size: 1.5em;
  padding: 10px;
}

a.tabs{
  text-decoration: none;
  color: black;
}

img.icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

div#information{
  position: absolute;
  display: inline-block;
  margin-left: 130px;
  margin-top: 50px;
}

fieldset{
  width: 800px;
  text-align: center;
}

legend{
  text-align: left;
}

table#boxRides{
  width: 800px;
  border-collapse: collapse;
}

table#boxRides th{
  padding: 20px;
}

table#boxRides td{
  padding: 10px;
}

#tableTr{
color: white;
background: rgb(13, 176, 43);
}

table tr.td1{
background-color: #E8E5E5;
}

#btnPlus{
  float: right;
}

#plus{
  width: 50px;
  height: 50px;
}

footer{
  text-align: center;
  margin-top: 50px;
}

div ul li:hover{
  font-size: 25px;
  text-align: left;
  padding: 5px;
}

/*Centra secciones en varios html*/
section#center{
  position: absolute;
  display: inline-block;
  margin-left: 20%;
  margin-top: 50px;
}

.link{
  color: rgb(126, 179, 218);
}

a#registerLog{
  padding: 1px 7px 3px 7px;
  background-color: rgb(13, 176, 43);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border-top: 2px solid #E8E5E5;
  border-left: 2px solid #E8E5E5;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
}

img.iconContact{
	width: 40px;
	height: 40px;
  padding: 10px;
}

/************************************************************************************************************PUBLIC ACCESS*/

section#matches{
  position: relative;
}

div.match{
  margin-left: 24%;
  margin-top: 40px;
}

input{
  margin-bottom: 10px;
}

input#btnFind{
  float: right;
  color: white;
  background-color: rgb(13, 176, 43);
}

/*********************************************************************************************************LOGIN*/

form#auth{
  text-align: center;
  margin-top: 40px;
}

/********************************************************************************************************SETTINGS*/

a#cancel{
  float: left;
  color: rgb(126, 179, 218);
}

input#save{
  float: right;
  background-color: rgb(13, 176, 43);
  color: white;
}

/********************************************************************************************************RIDES*/

section#add{
  width: 300px;
  display: inline-block;
}

div#rideAdd{
    display: inline-block;
}

div#days{
  display: inline-block;
  margin-left: 50px;
  position: absolute;
}

a#cancelR{
  position: absolute;
  top: 540px;
  right: 300px;
  color: rgb(126, 179, 218);
}

a#saveR{
  position: absolute;
  top: 540px;
  padding: 1px 7px 3px 7px;
  background-color: rgb(13, 176, 43);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border-top: 2px solid #E8E5E5;
  border-left: 2px solid #E8E5E5;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
}

#map-canvas{
  width: 350px;
  height: 350px;
  position: absolute;
  left: 500px;
  top: 0px;
}

#getPositionRide{
  position: absolute;
  left: 750px;
  top: 375px;
  font-size: 20px;
  padding: 1px 7px 3px 7px;
  background-color: rgb(13, 176, 43);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border-top: 2px solid #E8E5E5;
  border-left: 2px solid #E8E5E5;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;

}

footer#copyR{
  margin-top: 250px;
}
